.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $button-color;
  background-color: $background-button;
  border: none;
  width: 100%;
  height: 40px;
  text-align: center;
  display: block;
  padding: auto;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    width: 254px;
    height: 54px;
    padding-top: 17px;
    font-size: 20px;
  }
}
