.catalog__title {
  font-size: 36px;
  line-height: 36px;
}

.catalog__item h2,
.catalog__more p:first-child {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $menu-color;
}

.catalog__more p:last-child {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $text-color;
}
