.catalog-extra__bonus {
  background-color: $background-cat;
  background-image: url("../img/gift.png");
  width: 280px;
  height: 289px;
}

.catalog-extra__bonus-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $button-color;
  font-weight: 400;
}

.catalog-extra__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.catalog-extra__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.catalog-extra__descript {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $text-color;
}
