.form .client-contacts {
  border-top: 2px solid $background-button;
}

.client-contacts {
  border-top: 2px solid $background-button;
  margin-top: 26px;
  padding: 0;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
    margin-left: 39px;
  }
}

.client-contacts__title {
  font-size: 24px;
  line-height: 26px;
  width: 71%;
  margin-bottom: 35px;
  margin-left: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    padding-right: 42px;
    padding-bottom: 0;
    margin-bottom: 76px;
  }
}

.client-contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-right: 34px;
  }
}

.client-contacts__item:last-child {
  margin-bottom: 0;
}

.client-contacts__item {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  margin-bottom: 14px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    min-width: 569px;
  }
}

.client-contacts__label,
.client-contacts__input {
  font-family: $font-family;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.client-contacts__input {
  height: 46px;
  border: 1px solid $border-menu;
  padding-left: 14px;

  @media (min-width: $tablet-width) {
    height: 52px;
    padding-left: 21px;
  }
}

.client-contacts__input:hover {
  border-color: $border-hover;
}

.client-contacts__input:focus {
  border: 2px solid $text-color;
}

.client-contacts__input:invalid {
  border: 2px solid $border-error;
}

.client-contacts__label::before {
  content: "";
  position: absolute;
  width: 20px;
  //right: 10px;
  //top: 15px;
}

.client-contacts__label--email::before {
  height: 14px;
  right: 13px;
  top: 16px;
  background-image: url("../img/icon_email.svg");

  @media (min-width: $tablet-width) {
    right: 17px;
    top: 18px;
  }
}

.client-contacts__label--phone::before {
  height: 20px;
  right: 11px;
  top: 12px;
  background-image: url("../img/phone.svg");

  @media (min-width: $tablet-width) {
    right: 16px;
    top: 16px;
  }
}

.client-contacts__label {
  padding-top: 11px;
  padding-right: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-right: 20px;
  }
}
