.form .comments {
  border-top: 2px solid $background-button;
}

.comments {
  margin-top: 37px;
  padding: 0;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    margin-top: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
  }
}

.comments__title {
  font-size: 24px;
  line-height: 26px;
  width: 58%;
  margin-bottom: 37px;
  padding-left: 20px;
  margin-left: -20px;
  margin-top: -17px;
  background-color: $main-background;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    padding-right: 42px;
    padding-bottom: 0;
    margin-bottom: 76px;
    padding-left: 39px;
    margin-right: 447px;
    margin-top: -24px;
    margin-left: 0;
    //background-color: $main-background;
  }

  @media (min-width: $desktop-width) {
    margin-right: 996px;
    margin-left: -40px;
    padding-left: 40px;
  }
}

.comments__input {
  font-family: $font-family;
  font-size: 16px;
  line-height: 18px;
  color: $text-color;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 104px;
  min-height: 150px;
  width: 100%;
  border: 1px solid $border-menu;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 103px;
    padding-left: 4px;
    min-height: 174px;
    margin-left: 40px;
    width: 89%;
  }
}
