.contacts__slogan {
  font-size: 16px;
  line-height: 18px;
  color: $menu-color;
  text-transform: uppercase;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: $text-color;
}
