.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 109px;
  }
}

.data__legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  //padding-left: 0;
  padding-top: 37px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 60%;

    padding-top: 54px;
    padding-left: 70px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
    padding-top: 56px;
    padding-left: 110px;
  }
}

.data__list {
  border-bottom: 1px solid $border-programs;
  padding-bottom: 8px;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: 0;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    min-width: 569px;
    border: none;
  }
}

.data__item {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.data__label,
.data__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;

  border: none;
  height: 46px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    height: 52px;
  }
}

.data__label {
  width: auto;
  padding-right: 14px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    padding-right: 19px;
    padding-top: 10px;
  }
}

.data__input {
  font-family: $font-family;
  border: 1px solid $border-menu;
  padding-left: 15px;
}

.data__input:hover {
  border-color: $border-hover;
}

.data__input:focus {
  border: 2px solid $text-color;
}

.data__input:invalid {
  border: 2px solid $border-error;
}
