.example {
  padding-top: 27px;
  padding-bottom: 32px;

  background-color: $background-dark-grey;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 70px;
    background-color: $main-background;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 53px;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

.example__block {
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    max-width: 436px;
    padding-top: 0;
  }
}

.example__title {
  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 146px;
  }
}
// .example__title {
//   font-size: 36px;
//   line-height: 40px;
//   color: $menu-color;
// }

.example__description {
  //padding-left: 1px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-other;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    //margin: 0;
    max-width: 700px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.example__item {
  position: relative;

  width: 124px;
  min-height: 56px;
  margin-bottom: 20px;

  text-align: center;

  border: 1px solid $range-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 75px;
    margin-right: 42px;
  }
}

.example__item-last {
  width: 100%;
  padding-top: 14px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  min-height: auto;
  margin-bottom: 0;
  border: none;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-top: 40px;
  }
}

.example__item-last span {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 40px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-left: 63px;
  }
}

.example__number {
  margin: 0;
  padding-top: 14px;

  font-size: 24px;
  line-height: 24px;
  color: $menu-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text {
  position: absolute;
  bottom: -29px;
  left: 15%;

  width: 82px;

  font-size: 12px;
  line-height: 12px;
  font-family: $font-family-other;
  color: $text-color;

  background-color: $background-dark-grey;

  @media (min-width: $tablet-width) {
    background-color: $main-background;
    font-size: 14px;
    line-height: 14px;
    width: 127px;
    bottom: -17px;
    left: 10%;
  }
}

.example__item-last .example__text {
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family;
  color: $menu-color;
}

.example__live {
  display: block;
  //max-width: 690px;
  margin: auto;
  padding-top: 42px;

  @media (min-width: $desktop-width) {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
  }
}

.example__live img {
  width: 312px;
  margin-left: -20px;
}

.example__range {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.example__range input {
  display: none;
}

.example__range-input {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: $main-background;
  border: 1px solid $range-color;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $range-color;
  }
}

.example__range-toggle {
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: $background-button;
  border-radius: 6px;
  top: 3px;
  left: 3px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 13px solid $main-background;
    background-color: $background-button;
    box-shadow: 0 1px 3px $shadow;
    left: 197px;
    top: -15px;

    &:hover {
      box-shadow: 0 2px 4px $shadow;
    }

    &:active {
      box-shadow: 0 0 0 1px $background-button, 0 3px 5px $shadow;
    }
  }
}

.example__range-text {
  padding: 0 17px;
  border-bottom: 1px dotted $border-menu;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 22px;
  }

  &:hover {
    border-bottom: 1px solid $border-menu;
  }

  &:active {
    border: none;
  }
}
