.example {
  background-color: $background-dark-grey;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__block {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    max-width: 436px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  color: $menu-color;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
}

.example__item {
  min-width: 124px;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  color: $menu-color;
  text-transform: uppercase;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $text-color;
  text-transform: uppercase;
}

.example__item-last .example__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $menu-color;
}

.example__live {
  display: block;
  max-width: 690px;
}
