.form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  margin: 0;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    padding-top: 57px;
    padding-left: 69px;
  }
}
