.howitwork__title {
  font-size: 36px;
  line-height: 40px;
  color: $menu-color;
}

.howitwork__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
}
