.howitwork {
  background-color: $main-background;
}

.howitwork__wrapper {
  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}

.howitwork__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: space-between;
  }
}

.howitwork__title {
  font-size: 36px;
  line-height: 40px;
  color: $menu-color;
}

.howitwork__item {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-right: 153px;
  }
}

.howitwork__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.howitwork__item--green::before {
  background-image: url("/img/green.svg");
}

.howitwork__item--box::before {
  background-image: url("../img/box.svg");
}

.howitwork__item--meal::before {
  background-image: url("../img/meal.svg");
}

.howitwork__item--time::before {
  background-image: url("../img/time.svg");
}
