.page-footer {
  background-color: $background-grey;
}

.contacts__slogan {
  font-size: 16px;
  line-height: 18px;
  color: $menu-color;
  text-transform: uppercase;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $text-color;
}

.page-footer__map {
  background-image: url("../img/map.jpg");
  background-repeat: cover;
  height: 362px;
  width: 320px;
}
