.page-footer {
  background-color: $main-background;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__contacts {
  min-height: 114px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 201px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 201px;
    position: absolute;
    left: 110px;
    top: 95px;
    background-color: $main-background;
  }
}

.page-footer__map {
  background-image: url("../img/map.jpg");
  background-repeat: cover;
  height: 362px;
  width: 100%;
}

.page-footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__title {
  min-width: 320px;
}

.page-footer__social {
  min-width: 320px;
}

.social__list {
  display: flex;
  justify-content: space-around;
}

.page-footer__htmlacademy {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: $text-color;
}
