.page-footer {
  position: relative;
  padding-top: 14px;
  background-color: $background-grey;
}

.page-footer__contacts {
  min-height: 114px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 201px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 201px;
    position: absolute;
    left: 110px;
    top: 95px;
    background-color: $main-background;
  }
}

.page-footer__map {
  width: 100%;
  height: 362px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-footer__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__copyright {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright__link {
  width: 281px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 163px;
    margin-top: 34px;
  }
}

.copyright__link img {
  width: 27px;
  height: 34px;
}

.page-footer__htmlacademy {
  font-size: 16px;
  line-height: 19px;
  font-family: "Arial", sans-serif;
  color: $text-color;
}
