.page-header {
  position: relative;

  width: 100%;
}

// Добавила высоту,
// добавила высоту
.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 66px;
}

.page-header__logo {
  display: flex;
  align-items: center;
  width: 100%;
  // Минимальная высота
  min-height: 66px;
  padding-left: 20px;

  text-align: center;
  // На мобильном бордера нет
  // border-bottom: 1px solid $border-menu;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    margin-top: 24px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
    margin-top: 53px;
  }
}

// Изменила размер картинки
.page-header__logo img {
  width: 191px;
  height: 38px;
  margin: 0;

  @media (min-width: $tablet-width) {
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.page-header__logo svg {
  align-self: center;
  margin: auto;
}
