.page-header {
  position: relative;

  width: 100%;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 66px;
}

.page-header__logo {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 66px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    margin-top: 18px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
    margin-top: 53px;
  }
}

.page-header__logo:hover {
  opacity: 0.8;
  border: none;
  cursor: pointer;
}

.page-header__logo:active {
  opacity: 0.6;
}

.page-header__logo svg {
  align-self: center;
  margin: auto;
}
