.programs {
  color: #ffffff;
}

.programs__header {
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-color: $background-cat;
}

.programs__item {
  background-color: $background-grey;
}
