.programs {
  color: $button-color;
}

.programs__wrapper {
  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}

.programs__header {
  background-image: url("../img/index-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: $background-cat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    background-color: $main-background;
    background-image: none;
    align-items: flex-start;
    padding-left: 115px;
  }

  @media (min-width: $desktop-width) {
    height: 694px;
    flex-wrap: wrap;
  }
}

.programs__header img {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.programs__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__header-title {
  font-size: 36px;
  line-height: 36px;
  color: $button-color;
  display: block;
  width: 270px;
  height: 72px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $menu-color;
    font-size: 60px;
    line-height: 60px;
    width: 450px;
    height: 120px;
    text-align: left;
    margin-bottom: 41px;
  }
}

.programs__intro {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $button-color;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $menu-color;
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    margin-bottom: 50px;
  }
}

.programs__link {
  font-size: 14px;
  line-height: 18px;
  color: $button-color;
  text-transform: uppercase;
}

.programs__item {
  background-color: $background-grey;
  margin-top: 20px;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    min-height: 372px;
  }
}

.programs__item-header {
  margin: 0;
  padding-left: 91px;
  padding-top: 30px;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 37px;
  color: $menu-color;
  text-transform: uppercase;
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 52px;
    padding-left: 0;
  }
}

.programs__item-header-cat_back::before {
  content: "";
  position: absolute;
  left: 22px;
  top: 21px;
  background-image: url("../img/cat_back.svg");
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat_back_tablet.svg");
    top: 92px;
    right: 102px;
    left: auto;
    width: 200px;
    height: 200px;
  }
}

.programs__item-header-cat_black-2::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 21px;
  background-image: url("../img/cat_black_2.svg");
  width: 67px;
  height: 50px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat_black_2_tablet.svg");
    top: 91px;
    right: 68px;
    left: auto;
    width: 268px;
    height: 200px;
  }
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
  margin-left: 20px;
  margin-right: 33px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-right: 314px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 52px;
  }
}

.programs__item-link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: $menu-color;
  text-transform: uppercase;
  margin-left: 20px;
  padding-top: 20px;
  border-top: 1px solid $border-programs;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-left: 52px;
    margin-top: 52px;
  }
}
