.programs {
  color: $button-color;
}

.programs__wrapper {
  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}

.programs__header {
  background-image: url("../img/index-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: $background-cat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    background-color: $main-background;
    background-image: none;
    align-items: flex-start;
    padding-left: 115px;
  }

  @media (min-width: $desktop-width) {
    height: 694px;
    flex-wrap: wrap;
  }
}

.programs__header img {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.programs__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__header-title {
  font-size: 36px;
  line-height: 36px;
  color: $button-color;
  display: block;
  width: 270px;
  height: 72px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $menu-color;
    font-size: 60px;
    line-height: 60px;
    width: 450px;
    height: 120px;
    text-align: left;
    margin-bottom: 41px;
  }
}

.programs__intro {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $button-color;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $menu-color;
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    margin-bottom: 50px;
  }
}

.programs__link {
  font-size: 14px;
  line-height: 18px;
  color: $button-color;
  text-transform: uppercase;
}

.programs__item {
  background-color: $background-grey;
}

.programs__item-header {
  font-size: 24px;
  line-height: 37px;
  color: $menu-color;
  text-transform: uppercase;
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
}

.programs__item-link {
  font-size: 16px;
  line-height: 16px;
  color: $menu-color;
  text-transform: uppercase;
}
