.social {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid $border-programs;
  border-top: 1px solid $border-programs;

  @media (min-width: $tablet-width) {
    width: 129px;
    padding-top: 33px;
    border: none;
    margin: 0;
  }
}

.social__list {
  width: 130px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link:hover svg {
  stroke: $background-button;
}

.copyright__link:active path {
  fill: $background-button;
}

.social__link:active svg,
.copyright__link:active p,
.copyright__link:active svg {
  opacity: 0.3;
}
// .social__title {
//   min-width: 320px;
// }
