.social {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid $border-programs;
  border-top: 1px solid $border-programs;
}

.social__list {
  width: 130px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

// .social__title {
//   min-width: 320px;
// }
