html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
}

footer {
  margin-top: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;

  //border-bottom: 2px solid transparent;

  &:hover,
  &:focus,
  &:active {
    //border-bottom: 2px solid #665aff;
  }
}

.form fieldset {
  border: none;
}

.list-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 110px;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

// .no-scroll {
//   position: fixed;
//   // height: 100%;
//   // overflow: hidden;

//   overflow-y: scroll;
// }

.title-h1 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $button-color;
}

.title-h2 {
  margin: 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $menu-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
