@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"),
       url("source/fonts/oswaldregular.woff2") format("woff2"),
       url("source/fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: bold;
  font-weight: 700;
  src: local("Oswald"),
       url("source/fonts/oswaldmedium.woff2") format("woff2"),
       url("source/fonts/oswaldmedium.woff") format("woff");
}
